.main-bg{
  height: 300px;
  width: 100%;
  /* background-image: url('./images/main-bg.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-sec{
  /* border: 2px solid #222; */
  border-radius: 10px;
  height: 300px;
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}
img{
  width: 20vw;
  /* border: 2px solid #222; */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desc{font-size: 1rem; font-weight: bold;}
.desc1{background-color: aquamarine;}
.desc2{background-color: bisque;}
.desc3{background-color: rgb(216, 118, 185);}

.desc-ani{
 animation: all 0.35s; 
}
@keyframes slide-ani {
  0%{
    opacity: 0;
    transform: translate(50%, 0%);

  }
  100%{
    opacity: 1;
    transform: translate(0%, 0%);

  }
}

.desc-ani2{
  animation: all 0.35s; 
 }

@keyframes slide-ani2 {
  0%{
    opacity: 1;
    transform: translate(0%, 0%);

  }
  100%{
    opacity: 0;
    transform: translate(50%, 0%);

  }
}
